@use '../styles/abstracts/variables' as v;
@use '../styles/abstracts/mixins' as m;

.divider {
  background-color: #EAECF0;
}

.horizontal {
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.vertical {
  width: 1px;
  height: auto;
  align-self: stretch;
} 