.topbar {
  position: relative;
  width: 100%;
  height: 60px;
  background-image: url('/Lovepik_com-832643857-Creative tech style gradient line shape vector.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topbarContent {
  display: flex;
  align-items: center;
  height: 100%;
  color: #FFFFFF;
  position: relative;
}

.title {
  position: absolute;
  left: 0;
  top: 20px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.136px;
  color: #FFFFFF;
}

.subtitle {
  position: absolute;
  left: 287px;
  top: 20px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.119px;
  color: #FFFFFF;
}

.rightContent {
  position: absolute;
  right: 0;
  height: 40px;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.noThanks {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.getButton {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1D1B;
  border: none;
  cursor: pointer;
  height: 40px;
} 